* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: "돋움";
}
.box{
    margin: 0 auto;
    width: 1300px;
    /* border: 1px solid black; */
}

/* 헤더 */
header{
    height: 130px;
    border-bottom: 1px solid gainsboro;
}
/* 상단 로그인 상태 */
#login_status{
    display: flex;
    justify-content: end;
    font-size: 15px;
    height: 20px;
    padding-top: 30px;
}
/* 로고 이미지 */
#logo img{
    width: 100px;
    height: 100px;
    margin-left: 80px;
    margin-right: 50px;
    /* border: 1px solid black; */
    cursor: pointer;
    float: left;
}

/* 상단 네비게이션바 */
#main_menu a{
    float: left;
    /* margin-top: 55px; */
    /* margin-bottom: 50px; */
    margin: 38px;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s ease;
    /* border: 1px solid black; */
}
#main_menu li a:hover{
    border-bottom: 3px solid #ff6600;
}

/* 사이드바 */
aside{
    margin-top: 20px;
    width: 200px;
    height: 1000px;
    float: left;
    /* border: solid 1px gainsboro; */
    border-radius: 15px;
}
/* 사이드 프로필 */
#profile_box{
    background-color: rgb(242, 242, 242);
    text-align: center;
    /* position: fixed; */
    width: 200px;
    height: 300px;
    border: 1px solid gainsboro;
    border-radius: 15px;
    /* top: 20%; */
}
#profile_img > img{
    margin: 50px 50px 20px 50px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
/* 프로필 닉네임 */
#profile_nickname{
    clear: both;
    font-weight: bold;
    margin: 5px 0 5px 0;
}
/* 프로필 사용자 이름 */
#profile_name{
    color: rgb(166, 166, 166);
    font-size: 15px;
    margin: 5px 0 5px 0;
}
/* 프로필 사용자 아이디 */
#profile_id{
    color: rgb(166, 166, 166);
    font-size: 15px;
    margin: 5px 0 5px 0;
}

/* 프로필 로그아웃 버튼 */
#profile_logout{
    width: 70px;
    height: 25px;
    border: 1px solid gray;
    background: none;
    color: rgb(70, 70, 70);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#ad{
    margin-top: 20px;
}
#ad img{
    width: 200px;
}
/* 메인 */
section{
    margin-top: 20px;
    float: right;
}
#notice_board{
    width: 530px;
    height: 400px;
    padding: 10px;
    margin-right: 15px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    float: left;
}
#notice_board .title1{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.notice_list{
    margin-top: 10px;
}
.notice_list > li{
    margin: 10px 0 0px 0;
    border-bottom: 1px solid gainsboro;
}
.items > span{
    float: right;
    margin-right: 10px;
}


#free_board{
    width: 530px;
    height: 400px;
    padding: 10px;
    float: right;
    margin-right: 15px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}
#free_board .freeBoard_title{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.free_list{
    margin-top: 10px;
}
.free_list > li{
    margin: 10px 0 0px 0;
    border-bottom: 1px solid gainsboro;
}
.items{
    padding: 5px 0 5px 0;
}
.items > span{
    float: right;
    margin-right: 10px;
}